/* entreprenuership/mesa school page css */

body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.font-family {
    font-family: 'Nunito';

}

.my-heading {
    font-size: 40px;
    color: #FF8400;
    font-weight: bolder;
}

.my-heading1 {
    font-size: 30px;
    color: #FF8400;
    font-weight: bolder;
}



.navbar-light .navbar-nav .nav-link {
    color: black;
    font-size: 20px;

}

.navbar-toggler {
    background: #fff;
}

.navbar-nav {
    text-align: center;
}

.nav-link {
    padding: .2rem 1rem;
}


.navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
}

.dropdown-item:hover {
    background-color: #FF8400 !important;
}



.container-fluid {
    padding: 0% 2%;
}

.navbar {
    padding: 0 0 0rem;
}

.navbar-brand {
    font-family: 'Outfit', sans-serif;
    font-size: 2.5rem;
    color: #FF8400;
}

.nav-item {
    padding: 0 10px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Outfit', sans-serif;
    color: #000000;
}

.navbar-nav .nav-link:hover,
.dropdown-menu {
    color: #FF8400;
    display: block;
}

.corporate-button {
    color: white !important;

}


.navbar-nav .nav-link:hover,
.dropdown-submenu:hover>.dropdown-menu {
    color: #FF8400;
    display: block;
}

.dropdown-item {
    font-size: 18px;
}



.dropdown-menu .dropdown-item {
    color: black;
}


.dropdown-submenu .dropdown-menu {
    left: 100%;
    top: 0;
    margin-top: 0;
}

.logo {
    width: 50%
}



.my-card {
    transition: all 0.3s ease-in-out;
}

.my-card:hover {
    transform: scale(1.1);
    cursor: pointer;
}


.my-button {
    transition: all 2s ease-in-out;

}

.my-button:hover {
    transform: scale(1.05);
    background-color: orangered;
    cursor: pointer;
}



/* text -animation */
.boujee-text {
    --bg-size: 400%;
    --color-one: #090959;
    --color-two: hsl(24, 95%, 55%);
    /* font-size: clamp(3rem, 25vmin, 8rem); */
    background: linear-gradient(90deg,
            var(--color-one),
            var(--color-two),
            var(--color-one)) 0 0 / var(--bg-size) 100%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: move-bg 8s infinite linear;
}


@media (prefers-reduced-motion: no-preference) {
    .boujee-text {
        animation: move-bg 8s linear infinite;
    }

    @keyframes move-bg {
        to {
            background-position: var(--bg-size) 0;
        }
    }
}





/* faq */
.section_padding_130 {
    padding-top: 90px;
    padding-bottom: 130px;
}

.faq_area {
    position: relative;
    /* z-index: 1; */
    /* background-color: #f5f5ff; */
}

.faq-accordian {
    position: relative;
    /* z-index: 1; */

}

.faq-accordian .card {
    position: relative;
    /* z-index: 1; */
    background-color: #f5f5ff;
    margin-bottom: 1.5rem;
}

.faq-accordian .card:last-child {
    margin-bottom: 0;
}

.faq-accordian .card .card-header {
    /* background-color: #ffffff; */
    background-color: #f5f5ff;
    padding: 0;
    border-bottom-color: #ebebeb;
}

.faq-accordian .card .card-header h6 {
    cursor: pointer;
    padding: 1.75rem 2rem;
    color: #3f43fd;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.faq-accordian .card .card-header h6 {
    font-size: 1.4rem;
}

.faq-accordian .card .card-header h6.collapsed {
    color: #070a57;
}

.faq-accordian .card .card-header h6.collapsed span {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.faq-accordian .card .card-body {
    padding: 1.75rem 2rem;
}

.faq-accordian .card .card-body p:last-child {
    margin-bottom: 0;
}


/* crousel */
.my-crousel-card:hover {
    background-color: #ffbf7bd0;
}

.my-carousel {
    height: 600px;
    /* Adjust the height value as needed */
}

.my-carousel1 {
    height: 600px;
}

/*  */
.box-icons {
    background-color: #FF8400;
    border-radius: 50px;
    padding: 25px;
    margin-top: -8%;
}

.box-icons1 {
    background-color: #FF8400;
    border-radius: 50px;
    width: 17%;
    padding: 20px;
    margin-top: -5%;
}

.my-block1 {
    display: none !important;
}

.my-heading-div {
    display: none;
}

.my-crousel-section-hide {
    display: none !important;
}

.hidden-table {
    display: none !important;
}

.my-hidden-section {
    display: none !important;
}

/*  */
@media (200px <=width <=991px) {
    .pic2 {
        display: none;
    }
}

@media (200px <=width <=1400px) {

    .my-section-hidden {
        display: none !important;
    }

    .my-hidden-section {
        display: block !important;
    }
}

@media (200px <=width <=1200px) {


    .pic1 {
        display: none;
    }

    .submit-btn {
        margin-top: 5%;
    }

    .kids-heading {
        width: 80% !important;
        margin-left: 30% !important;

    }

    .kids-button {
        margin-left: 30% !important;
        width: 65%;
    }

    .my-section1 {
        width: 100% !important;
        display: block;
        margin-left: -8% !important;

    }

    .faq-heading {
        margin-left: 10% !important;
    }



    .my-circle-images {
        display: none;
    }



    .hidden-table {
        display: block !important;
    }


}

@media (200px <=width <=1400px) {
    .my-faq-text1 {
        font-size: 19px !important;
    }

}

/* font-size */
@media (200px <=width <=700px) {
    .my-heading {
        font-size: 30px;
    }

    .my-faq-text {
        font-size: 15px !important;
    }

    .join-team-text {
        font-size: 20px;
    }

    .my-faq-text1 {
        font-size: 19px !important;
    }


}



@media (200px <=width <=590px) {
    .my-section1 {
        margin-top: 19% !important;
    }
}


@media (200px <=width <=768px) {

    .navbar-nav .nav-link:hover,
    .dropdown-submenu>.dropdown-menu {
        color: #FF8400;
        display: block;
    }

    .corporate-button {
        margin-left: 2%;

    }

    .cb {
        padding-left: 50%;
    }
}

@media (10px <=width <=1000px) {

    .my-crousel-section-hide {
        display: block !important;
    }

    .my-crousel-section {
        display: none !important;
    }

    .my-block1 {
        display: block !important;
    }

    .my-block {
        display: none !important;
    }
}

@media (10px <=width <=400px) {
    .my-carousel2 {
        height: 600px;
    }

    .my-carousel3 {
        height: 375px;
    }

    .my-carousel4 {
        height: 480px;
    }

    .my-carousel5 {
        height: 250px;
    }
}

@media (400px <=width <=600px) {
    .my-carousel2 {
        height: 510px;
    }

    .my-carousel3 {
        height: 320px;
    }

    .my-carousel4 {
        height: 400px;
    }

    .my-carousel5 {
        height: 250px;
    }
}

@media (600px <=width <=1000px) {
    .my-carousel2 {
        height: 480px;
    }

    .my-carousel3 {
        height: 300px;
    }

    .my-carousel4 {
        height: 325px;
    }

    .my-carousel5 {
        height: 250px;
    }
}









/* navbar */
@media (10px <=width <=768px) {

    .navbar-nav .nav-link:hover,
    .dropdown-submenu>.dropdown-menu {
        color: #FF8400;
        display: block;
    }

    .corporate-button {
        margin-left: 2%;

    }
    /* nav{
        width: 100% !important;
        margin-left: -6.5% !important;
    } */

    .cb {
        padding-left: 50%;
    }
     /* nav{
        margin-left: -8% !important;
    } */
    /* .navbar-toggler{
        margin-left: -8% !important;
    } */
    /* .navbar-collapse{
        margin-left: 20% !important;
    } */



}

/* logo img */
@media (1600px <=width <=1700px) {
    .logo-img {
        width: 100%;
        margin-left: -10%;

    }
}

@media (1500px <=width <=1599px) {
    .logo-img {
        width: 100%;
        margin-left: 3%;

    }
}

@media (1700px <=width <=1800px) {
    .logo-img {
        width: 100%;
        margin-left: -28%;

    }
}

@media (1800px <=width <=1850px) {
    .logo-img {
        width: 100%;
        margin-left: -50%;
    }
}

@media (1850px <=width <=1900px) {
    .logo-img {
        width: 100%;
        margin-left: -55%;
    }
}

@media (1900px <=width <=1950px) {
    .logo-img {
        width: 100%;
        margin-left: -64%;
    }
}

@media (1950px <=width <=2000px) {
    .logo-img {
        width: 100%;
        margin-left: -70%;
    }
}

@media (1100px <=width <=1200px) {
    .logo-img {
        width: 90%;
        margin-left: -18%;

    }

    .my-logo-div {
        width: 40% !important;
    }
}

@media (1000px <=width <=1100px) {
    .logo-img {
        width: 90%;
        margin-left: 1%;

    }

    .my-logo-div {
        width: 40% !important;
    }
}
@media (950px <=width <=1000px) {
    .logo-img {
        width: 60%;
        margin-left: -14%;

    }

    .my-logo-div {
        width: 70% !important;
    }
}
@media (900px <=width <=950px) {
    .logo-img {
        width: 60%;
        margin-left: -7%;

    }

    .my-logo-div {
        width: 70% !important;
    }
}

@media (800px <=width <=900px) {
    .logo-img {
        width: 40%;
        margin-left: -2%;

    }

    .my-logo-div {
        width: 70% !important;
    }
}
@media (770px <=width <=800px) {
    .logo-img {
        width: 80%;
        margin-left: 7%;

    }

    .my-logo-div {
        width: 40% !important;
    }
}
@media (768px <=width <=769px) {
    .logo-img {
        width: 80%;
        margin-left: 20%;

    }

    .my-logo-div {
        width: 40% !important;
    }
}
@media (750px <=width <=767px) {
    .logo-img {
        width: 80%;
        margin-left: -18%;

    }

    .my-logo-div {
        width: 40% !important;
    }
}


@media (700px <=width <=750px) {
    .logo-img {
        width: 80%;
        margin-left: -12%;

    }

    .my-logo-div {
        width: 60% !important;
    }
}

@media (650px <=width <=700px) {
    .logo-img {
        width: 60%;
        margin-left: -8%;

    }

    .my-logo-div {
        width: 70% !important;
    }
}

@media (600px <=width <=650px) {
    .logo-img {
        width: 60%;
        margin-left: -5%;

    }

    .my-logo-div {
        width: 70% !important;
    }
}

@media (550px <=width <=600px) {
    .logo-img {
        width: 60%;
        margin-left: 4% !important;

    }

    .my-logo-div {
        width: 70% !important;
    }
}

@media (500px <=width <=550px) {
    .logo-img {
        width: 60%;
        margin-left: 13% !important;

    }

    .my-logo-div {
        width: 70% !important;
    }
}

@media (400px <=width <=500px) {
    .logo-img {
        width: 60%;
        margin-left: 8%;

    }

    .my-logo-div {
        width: 70% !important;
    }
}

@media (10px <=width <=400px) {
    .logo-img {
        width: 60%;
        margin-left: 9% !important;

    }
    .my-logo-div {
        width: 70% !important;
      
    }

}
